body {
	background: #002d62;
	height: auto;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}
textarea {
	color: #FFFFFF;
	background-color: #000000;
	border: none;
}
.result {
	width: 90%;
	height: 400px;
}
/*transform: scale(0.5,0.5);*/
.netController {
}
.netController section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 0px; }
.netController md-content {
  background-color: transparent !important; }
.netController md-slider {
	transform: scale(0.8,0.8); }
.netController md-tabs {
  width: 99%; }
.netController md-tab {
  padding:0.1em 0.4em; }
.netController section .md-header {
	margin: 0.1em;
	height: 40px;
  width: auto; }
.netController section .md-tabs-content {
  width: auto; }
.netController section .md-button {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.1em;
  margin-right: 0.1em; }
.netController .label {
  position: absolute;
  bottom: 0.1em;
  left: 0.1em;
  font-size: 14px;
  opacity: 0.54; }
	.netController input[type="number"] {
  text-align: center; }
